:root{
    --secondary:#4CAF4F;
    --primary:#18191F;
    --bgcolor:#F5F7FA;
    --textcolor:#717171;
    --headingcolor:#4D4D4D;
}
@font-face {
    font-family:Inter ;
    src: url(./fonts/Inter_18pt-SemiBold.ttf),
       
   
}

/* header start  */
.bgnav{
    background:var(--bgcolor);
}
.greenbtn{
    color: var(--secondary);
}
.greenbtn:hover{
    color: var(--secondary);
}
.greenbg{
    background: var(--secondary);
}
.greenbg:hover{
    background: var(--secondary);
}
.navcolor{
    color: var(--primary);
}

/* header end */



/* hero section start */
.herodiv{
    background-color: var(--bgcolor);
}

.heroImg{
    width: 100%;
    background-color: var(--bgcolor);
}
.herobtn{
    background: var(--secondary) !important;
    padding: 12px 20px;
}
.herobtn:hover{
    background-color: var(--secondary);
    
    
}
.spancolor{
    color: var(--secondary) !important;
}
.pcolor{
    color: var(--textcolor);
}
.fonts{
    font-size: 18px;
}
.h1color{
    color: var(--headingcolor) !important;
    font-family: Inter !important;
}


/* hero section end */

/* client section */
.clienth1{
    color: var(--headingcolor) !important;
    font-family: Inter;
}

.clientp{
    color: var(--textcolor);
}
.gapbadges{
    gap: 100px !important;
}


.card-title{
    font-family: Inter;
    color: var(--headingcolor) !important;
}
.card-text{
    color: var(--textcolor);
}
.cards{
    border: none;
   box-shadow: 0px 2px 4px 0px #ABBED133;

}
.fontfamily{
    font-family: Inter;
}


.fontweight{
    font-size: 36px;
}
/* client end */

.featurebg{
    background: var(--bgcolor);
}


.demo{
    color: #263238;
    font-family: Inter;
}


.btnsize{
    width: 13%;
}


.footerbg{
    background: #263238;
}
.footerimg{
    width: 75%;
    
}
.footerp{
    color: #F5F7FA !important;
}
.inputbg{
    background-color: #515b60 !important;

}
.inputbg::placeholder{
    color: white !important;
}
.margin{
    margin-right: 170px;
}







@media screen and (max-width:576px) {
    .size{
        width: 50%;
    }
    .btnsize{
        width: 50%;
    }
    .footer{
        gap: 30px;
    }

}

@media screen and (min-width:576px) and (max-width:768px) {
   
    .btnsize{
        width: 25%;
    }
    .margin{
        margin-right: 100px;
    }
}

