:root{
    --secondary:#4CAF4F;
    --primary:#18191F;
    --bgcolor:#F5F7FA;
    --textcolor:#717171;
}
@font-face {
    font-family:Inter ;
    src: url(./fonts/Inter_18pt-SemiBold.ttf),
       
   
}

/* header start  */
.bgnav{
    background:var(--bgcolor);
}
.greenbtn{
    color: var(--secondary);
}
.greenbtn:hover{
    color: var(--secondary);
}
.greenbg{
    background: var(--secondary);
}
.greenbg:hover{
    background: var(--secondary);
}
.navcolor{
    color: var(--primary);
}

/* header end */



/* hero section start */
.herodiv{
    background-color: var(--bgcolor);
}
.hero{
    background: var(--bgcolor);
    padding: 40px;
}
.heroImg{
    width: 80%;
    background-color: var(--bgcolor);
}
.herobtn{
    background: var(--secondary) !important;
    padding: 12px 20px;
}
.herobtn:hover{
    background-color: var(--secondary);
    
    
}
.spancolor{
    color: var(--secondary);
}
.pcolor{
    color: var(--textcolor);
}
.fonts{
    font-size: 18px;
}
.h1color{
    color: #4D4D4D !important;
}


/* hero section end */

/* client section */
.clienth1{
    color: var(--primary) !important;
    font-family: Inter;
}
.gapbadges{
    gap: 100px !important;
}
/* client end */